<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iu.home.board.qna.QnaMapper">
	<select id="getList" resultType="QnaVO" parameterType="Pager">
		SELECT * FROM QNA 
		ORDER BY NUM DESC
		limit #{startRow}, #{perPage}
	</select>
	
	<insert id="setAdd" parameterType="QnaVO" useGeneratedKeys="true" keyProperty="num">
		insert into QNA 
		values (#{num}, #{title}, #{writer}, #{contents}, 0, now(), 0,0,0)
	</insert>
	
	<insert id="setFileAdd" parameterType="QnaFileVO">
		INSERT INTO QNAFILES
		VALUES (NULL, #{num}, #{fileName}, #{oriName})
	</insert>
	
	<select id="getOne" parameterType="QnaVO" resultMap="getOneresult">
		SELECT * 
		FROM QNA q
			LEFT JOIN
			QNAFILES q2 
			ON q.num = q2.num 
		WHERE q.NUM = #{num}
	</select>
	
	<select id="getFileDetail" parameterType="QnaFileVO" resultType="QnaFileVO">
		SELECT * FROM QNAFILES WHERE FILENUM = #{fileNum} 
	</select>
	
<!-- 	<update id="setUpdate" parameterType="QnaVO">
		UPDATE 
	</update> -->
	
	<delete id="setFileDelete" parameterType="QnaFileVO">
		DELETE FROM QNAFILES WHERE FILENUM = #{fileNum}		
	</delete>
	
	<resultMap type="QnaVO" id="getOneresult">
		<id column="NUM" property="num"/>
			<result column="TITLE" property="title"/>
			<result column="WRITER" property="writer"/>
			<result column="CONTENTS" property="contents"/>
			<result column="HIT" property="hit"/>
			<result column="REGDATE" property="regDate"/>
			<result column="REF" property="ref"/>
			<result column="STEP" property="step"/>
			<result column="DEPTH" property="depth"/>
		<collection property="fileVOs" javaType="List" ofType="QnaFileVO">
			<id column="FILENUM" property="fileNum"/>
				<result column="FILENAME" property="fileName"/>
				<result column="ORINAME" property="oriName"/> 
		</collection>	
	</resultMap>
	
</mapper>    