<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iu.home.board.qna.QnaMapper">
	<select id="getList" resultType="QnaVO" parameterType="Pager">
		SELECT * FROM QNA 
		ORDER BY NUM DESC
		limit #{startRow}, #{perPage}
	</select>
	
	<insert id="setAdd" parameterType="QnaVO" useGeneratedKeys="true" keyProperty="num">
		insert into QNA 
		values (#{num}, #{title}, #{writer}, #{contents}, 0, now(), 0,0,0)
	</insert>
	
	<insert id="setFileAdd" parameterType="QnaFileVO">
		INSERT INTO QNAFILES
		VALUES (NULL, #{num}, #{fileName}, #{oriName})
	</insert>
	
</mapper>    